# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = tab

[*.{h, hpp, c, cpp}]
insert_final_newline = false
cpp_space_pointer_reference_alignment = right